/* Клас #main_box */
#main_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: auto;
}


/* Клас body */
body{
    background: linear-gradient(90deg, #e68146 19%, #d7cb93 54%, #6f8b2b 100%);
}

/* Клас button */
button {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Клас div і fieldset*/
div, fieldset {
    width: max-content;
    margin: 0 auto;
    padding: 0 40px;
}

/* Клас fieldset */
fieldset {
    width: 300px;
    display: inline;
    background-color: #dad3b1;
}

/* Клас form */
form {
    display: flex;
}

/* Клас input[type='text'] і button */
input[type='text'], button {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #e9e5d0;
}

/* Клас table і td*/
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    background-color: #dad3b1;
}

/* Клас #sec_box */
#sec_box {
    margin: auto;
    margin-top: 20px;
}

/* Клас #tool */
#tool {
    width: 223px;
    margin-bottom: 2px;
    height: 20px;
    background-color: #dad3b1;
}